* {
  box-sizing: border-box;
  font-family: serif;
  padding: 0px;
  margin: 0px;

}

body, html{
  height: 100%;
  color: #ffff;
  background-color: #000000;
  opacity: 100%;

}


p{
  font-size: 25px;
}

h1{
 align-items: center;
 justify-content: center;
  text-align:center;
  font-size: 50px;
  display: flex;
}

div{
  display: flex;
}
a{
  font-size: 23px;
  font-weight: bolder;
}
.title1 {
  height: 80%;
  width: 100%;
}

.title2{
  height: 100%;
  width: 100%;}


.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 50%;
}

.fadein {
animation: fadeIn 5s;
}

.center{
justify-content: center;
align-items: center;
}
.red{
color: #FF0000;
font-size: 47px;

}
.black{
    color: #000;
}
.white{
  color: #fff;
}

@keyframes fadeIn {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}

.lowopacity{
opacity: 50%;
}

.maxopacity{
opacity: 100%;
}


.bar{
  text-align: center;
  font-family: serif;
}

.padding{
  padding: 25px;
}

.fixedcenter{
  display: flex;
  align-items: center;
  justify-content: center;

}

.kerning{
  letter-spacing: 2px;
}

.menu{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.box {
    background-color: #;
    color: #;
    border: 2px solid white;
    margin: 40px;
    padding: 25px;
}

.image{
height: 100%;
width: 100%;
}
